@import url('https://fonts.googleapis.com/css2?family=Jost&family=Lexend+Deca&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    overflow: hidden;
  height: 100%;
}
.container{
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  gap: 24px;
  /* padding: 14px 0 14px 0; */
}
ul{
  list-style-type: none;
  display: flex;
  gap: 24px;
}
.brandlogo{
  margin: 15px 0 14px 85px;
}
.btnlog{
  margin: 21px 97px 0 0;
  background-color: red;
  padding: 6px 16px;
  color: white;
  border: none;
}
.maincontainer{
  /* border: 1px solid red; */
  display: flex;
   max-width: 1200px;
    margin: 0 auto;
  padding: 25px;
}
.textdiv{
  justify-content: center;
}
h1{
  font-weight: 800;
  font-size: 90px;
  line-height: 100%;
}
.para{
  font-weight: 600;
  font-size: 16px;
  line-height: 100% ;
  margin: 36px 0 36px 0;
}
.textbtn{
  display: flex;
  gap: 56px;
  margin-bottom: 36px;
}
.btn1{
    background-color: red;
  padding: 6px 16px;
  color: white;
  border: none;
  gap: 10px;
}
.btn2{
    background-color:transparent;
  padding: 6px 16px;
  color: grey;
  border: 1px solid black;
  gap: 10px;
}
.avtext{
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: grey;
  margin-bottom: 10px;
}
.brandimg{
  display: flex;
  gap: 16px;
}

